body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/jim.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;

}
nav a {
    color:#f5deb3
}
nav a:hover {
    color: orange;
    text-decoration: underline;
}



.greeting {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
                url('assets/wood.jpg') no-repeat center center / cover fixed;
    font-family: Algerian, serif;
    color: #f5deb3;
text-shadow: 2px 2px 5px #000;

    text-align: center;
    font-size: xx-large;
    width: 100%; 
    padding: 50px 0; 
}
#navigations {
    background-color: rgba(0, 0, 0, 0.2); 
    padding: 15px;
    text-align: center;
    color: maroon;
    text-align: left;
}
#hull {
    color : #f5deb3 !important;
    padding : 20px;
    text-align: center;
    font-family: old-standard-tt, serif;
    font-size: large;
    background-color: rgba(105, 185, 238, 0.1);
    border-radius: 30px
}
button {
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;    

}
#mast{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: static;
    color:#f5deb3;
    font-family: old-standard-tt, serif;
   
    border-top-color: maroon ;
}
#comment{
    border-radius: 50px;
    background-color: rgb(96, 96, 242, 0.5);
    font-family: old-standard-tt, serif;
    padding: 20px 30px;
}
#tbutton{
    border-radius: 90px;
    color:#f5deb3;
     
}
#msg{

    border-radius: 70px;
    padding: 10px 20px;
    color:#f5deb3;
    background-color:rgba(33, 135, 229, 0.9)
}
#game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width:100;
}

#gc{
    border-radius: 10px;
    padding: 20px 30px;
    background-color:#f5deb3;
}
.anchor{
    text-align: left;
    color:#f5deb3;
    background-color:rgb(97, 203, 230, 0.1);
}
#onx{
    box-sizing: border-box;
    width: 500px;
    padding: 40px; 
    background-color:rgba(245, 16, 20, 0.5);
}
  #yow{
    background-color:rgba(17, 198, 47, 0.5);
    border-radius: 50px;
    padding: 30px 20px;
  }
  #cat_section{
    display: flex;
    justify-content: center;
    align-items: center;
  }